%h1
  Import Barcodes

%div(class="barcode-form")
  =form_tag import_barcodes_path, :method => :post do
    =label_tag "Enter Excel File:"
    %br
    =text_field_tag "excelFile", ""
    =submit_tag "Submit"
