@import "bootstrap-sprockets";
@import "bootstrap";

.form-horizontal {
  .control-label {
    text-align: left;
  }
}

.navbar-brand {
  & > img {
    display: inline;
    margin-top: -7px;
  }
}

.barcode-form {
  font-size: 12px;
}

.error input[type=text] {
  background-color: yellow;
}
